<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdmBE100" version="10.10.0.2525" targetFramework="net471" />
  <package id="AdmBS100" version="10.10.0.2525" targetFramework="net471" />
  <package id="AdmEngine100" version="10.10.0.2525" targetFramework="net471" />
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net471" />
  <package id="AegisImplicitMail" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="BasBE100" version="10.10.0.2533" targetFramework="net471" />
  <package id="CblBE100" version="10.10.0.2506" targetFramework="net471" />
  <package id="CctBE100" version="10.10.0.2507" targetFramework="net471" />
  <package id="CmpBE100" version="10.10.0.2506" targetFramework="net471" />
  <package id="ConstantesPrimavera100" version="10.10.0.2533" targetFramework="net471" />
  <package id="CrmBE100" version="10.10.0.2502" targetFramework="net471" />
  <package id="CRUFLPriGlobal100" version="10.10.0.2525" targetFramework="net471" />
  <package id="CrystalDecisions" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="DotNetZip" version="1.13.3" targetFramework="net471" />
  <package id="EapBE100" version="10.10.0.2504" targetFramework="net471" />
  <package id="Elasticsearch.Net" version="7.1.0" targetFramework="net471" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="ErpBS100" version="10.10.0.2505" targetFramework="net471" />
  <package id="ErpDS100" version="10.10.0.2505" targetFramework="net471" />
  <package id="GabBE100" version="10.10.0.2501" targetFramework="net471" />
  <package id="GprBE100" version="10.10.0.2503" targetFramework="net471" />
  <package id="IBasBS100" version="10.10.0.2533" targetFramework="net471" />
  <package id="IBasDS100" version="10.10.0.2533" targetFramework="net471" />
  <package id="ICblBS100" version="10.10.0.2506" targetFramework="net471" />
  <package id="ICblBSExt100" version="10.10.0.2506" targetFramework="net471" />
  <package id="ICblDS100" version="10.10.0.2506" targetFramework="net471" />
  <package id="ICctBS100" version="10.10.0.2507" targetFramework="net471" />
  <package id="ICctDS100" version="10.10.0.2507" targetFramework="net471" />
  <package id="ICmpBS100" version="10.10.0.2506" targetFramework="net471" />
  <package id="ICmpDS100" version="10.10.0.2506" targetFramework="net471" />
  <package id="ICnoBS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="ICnoDS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="ICrmBS100" version="10.10.0.2502" targetFramework="net471" />
  <package id="ICrmDS100" version="10.10.0.2502" targetFramework="net471" />
  <package id="IdentityModel" version="4.3.1" targetFramework="net471" />
  <package id="IEapBS100" version="10.10.0.2504" targetFramework="net471" />
  <package id="IEapDS100" version="10.10.0.2504" targetFramework="net471" />
  <package id="IFacBS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IFacDS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IGabBS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IGabDS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IGprBS100" version="10.10.0.2503" targetFramework="net471" />
  <package id="IGprDS100" version="10.10.0.2503" targetFramework="net471" />
  <package id="IIntBS100" version="10.10.0.2503" targetFramework="net471" />
  <package id="IIntDS100" version="10.10.0.2503" targetFramework="net471" />
  <package id="IInvBS100" version="10.10.0.2520" targetFramework="net471" />
  <package id="IInvDS100" version="10.10.0.2520" targetFramework="net471" />
  <package id="IntBE100" version="10.10.0.2503" targetFramework="net471" />
  <package id="InvBE100" version="10.10.0.2520" targetFramework="net471" />
  <package id="IOrcBS100" version="10.10.0.2515" targetFramework="net471" />
  <package id="IOrcDS100" version="10.10.0.2515" targetFramework="net471" />
  <package id="IPcmBS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IPcmDS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IPrjBS100" version="10.10.0.2504" targetFramework="net471" />
  <package id="IPrjDS100" version="10.10.0.2504" targetFramework="net471" />
  <package id="IRhpBS100" version="10.10.0.2509" targetFramework="net471" />
  <package id="IRhpDS100" version="10.10.0.2509" targetFramework="net471" />
  <package id="IStpBS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IStpDS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="ITesBS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="ITesDS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="ITTEBS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="ITTEDS100" version="10.10.0.2501" targetFramework="net471" />
  <package id="IVndBS100" version="10.10.0.2509" targetFramework="net471" />
  <package id="IVndDS100" version="10.10.0.2509" targetFramework="net471" />
  <package id="LiteDB" version="5.0.10" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net471" />
  <package id="Microsoft.Azure.Services.AppAuthentication" version="1.0.3" targetFramework="net471" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Memory" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.2.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.4" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="3.14.2" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.2.4" targetFramework="net471" />
  <package id="Microsoft.Practices" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net471" />
  <package id="Microsoft.SqlServer.SqlManagementObjects" version="140.17224.0" targetFramework="net471" />
  <package id="Microsoft.VisualBasic.PowerPacks.Vs" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="mScriptable" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="MsieJavaScriptEngine" version="3.0.2" targetFramework="net471" />
  <package id="NEST" version="7.1.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="NLog" version="4.5.11" targetFramework="net471" />
  <package id="OpenMcdf" version="2.2.1.3" targetFramework="net471" />
  <package id="OrcBE100" version="10.10.0.2515" targetFramework="net471" />
  <package id="PcmBE100" version="10.10.0.2501" targetFramework="net471" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net471" />
  <package id="PriGrid100" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Athena.Core" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="Primavera.Bas.Controls100" version="10.10.0.2526" targetFramework="net471" />
  <package id="Primavera.Base.Helpers" version="10.10.0.2533" targetFramework="net471" />
  <package id="Primavera.Bot.Data.Interfaces" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Bot.Data.Providers" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Bot.Engine100" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Bot.Entities" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Bot.Managers" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Bot.Managers.Interfaces" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Cloud" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="Primavera.Core" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="Primavera.CoreLib" version="4.0.2.14" targetFramework="net471" />
  <package id="Primavera.CoreLib.Interop" version="4.0.2.14" targetFramework="net471" />
  <package id="Primavera.Dashboards.Engine" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Dashboards.Engine.Interfaces" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Dashboards.Entities" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Dashboards.UserInterface" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Extensibility.Attributes" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Extensibility.Base" version="10.10.0.2503" targetFramework="net471" />
  <package id="Primavera.Extensibility.BusinessEntities" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Extensibility.Constants" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Extensibility.CustomForm" version="10.10.0.2503" targetFramework="net471" />
  <package id="Primavera.Extensibility.CustomTab" version="10.10.0.2503" targetFramework="net471" />
  <package id="Primavera.Extensibility.Extensions" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Extensibility.Integration" version="10.10.0.2503" targetFramework="net471" />
  <package id="Primavera.Extensibility.Patterns" version="10.10.0.2502" targetFramework="net471" />
  <package id="Primavera.Hydrogen.Core" version="2.0.1.182" targetFramework="net471" />
  <package id="Primavera.Hydrogen.IdentityModel" version="2.0.1.182" targetFramework="net471" />
  <package id="Primavera.Hydrogen.Pipelines" version="2.0.1.182" targetFramework="net471" />
  <package id="Primavera.Hydrogen.Rest" version="2.0.1.182" targetFramework="net471" />
  <package id="Primavera.Hydrogen.Rest.ClientRuntime" version="1.2.1.99" targetFramework="net471" />
  <package id="Primavera.Lithium.DataLookup" version="2.0.1.5" targetFramework="net471" />
  <package id="Primavera.Lithium.DataLookup.Models" version="1.1.0.18" targetFramework="net471" />
  <package id="Primavera.Lithium.DataLookup.VatNumber.Validators" version="2.0.0.3" targetFramework="net471" />
  <package id="Primavera.Lithium.ECommerceConnect" version="2.0.3.179" targetFramework="net471" />
  <package id="Primavera.Lithium.HubServices" version="2.0.1.8" targetFramework="net471" />
  <package id="Primavera.Lithium.HubServices.Models" version="1.1.0.10" targetFramework="net471" />
  <package id="Primavera.Manufacturing.Scheduler100" version="10.10.0.2504" targetFramework="net471" />
  <package id="Primavera.Platform" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="Primavera.Platform.Collections" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.CoreServices100" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.Exceptions" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.Globalizacao" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.Helpers" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.MapServices.UI100" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Platform.MapServices100" version="10.10.0.2513" targetFramework="net471" />
  <package id="Primavera.Platform.NetServices100" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.Reports.Validation100" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.Reports100" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.Smtp" version="10.10.0.2525" targetFramework="net471" />
  <package id="Primavera.Platform.UserControls100" version="10.10.0.2525" targetFramework="net471" />
  <package id="PrimaveraSupportNetSupport" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="PriTextBoxF4100" version="10.10.0.2525" targetFramework="net471" />
  <package id="PriTextBoxF4NET100" version="10.10.0.2525" targetFramework="net471" />
  <package id="PrjBE100" version="10.10.0.2504" targetFramework="net471" />
  <package id="RhpBE100" version="10.10.0.2509" targetFramework="net471" />
  <package id="Saxon-HE" version="9.9.1.2" targetFramework="net471" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net471" />
  <package id="SimpleInjector" version="10.0010.0000.2500" targetFramework="net471" />
  <package id="StdBackgrWorker" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdBE100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdBESql100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdBrandingInfo100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdBSSql100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdClasses100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdControls100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdDSSql100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdDTPicker100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdDTPickerNET100" version="10.10.0.2525" targetFramework="net471" />
  <package id="STDMaskNumCtl" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdPlatBE100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdPlatBS100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdPlatDS100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdServices100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StdUpgCDUs100" version="10.10.0.2525" targetFramework="net471" />
  <package id="StpBE100" version="10.10.0.2501" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0" targetFramework="net471" />
  <package id="System.IdentityModel.Tokens.Jwt" version="5.2.4" targetFramework="net471" />
  <package id="System.Memory" version="4.5.4" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net471" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net471" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net471" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="TesBE100" version="10.10.0.2501" targetFramework="net471" />
  <package id="TTEBE100" version="10.10.0.2501" targetFramework="net471" />
  <package id="UpgradeHelpers.DB.ADO" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.DB.ADO.Controls" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.DB.Essentials" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.DB.Essentials.Controls" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.FontHelper" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.FpSpread" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.Gui" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.Gui.ContainerHelper" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.Gui.Graphics" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.SupportHelper" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.Utils" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.Utils.ReflectionHelper" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="UpgradeHelpers.VB" version="10.0010.0000.2502" targetFramework="net471" />
  <package id="VndBE100" version="10.10.0.2509" targetFramework="net471" />
  <package id="WindowsAzure.ServiceBus" version="6.0.1" targetFramework="net471" />
  <package id="Zxcvbn" version="10.0010.0000.2500" targetFramework="net471" />
</packages>