<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SUGIMPL_OME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SUGIMPL_OME.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SUGIMPL_OME.Properties.Settings>
            <setting name="PRIEMPRE_DBNAME" serializeAs="String">
                <value>PRIEMPRE</value>
            </setting>
        </SUGIMPL_OME.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SUGIMPL_OME.Properties.Settings>
            <setting name="User" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>pa$$w0rd</value>
            </setting>
        </SUGIMPL_OME.Properties.Settings>
    </userSettings>
</configuration>